@{
  Layout = "_Layout";
}

@model FlavorTreat.Models.Flavor

<h4>Add a new Flavor</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Add new Flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Flavors", "Index")</p>